@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

$f-reg: 400;
$f-semibold: 600;
$f-bold: 700;

// font-family: 'Open Sans', sans-serif;
// font-family: 'Poppins', sans-serif;
